---
import { PageService } from "../../lib/domain/services/PageService";
import Layout from "../../layout/layout.astro";
const { slug, lang } = Astro.params;

const parseSlug = slug ?? "home";
const page = await PageService.findBySlug({
  slug: parseSlug,
  locale: lang ?? "en",
});
if (!page) return Astro.redirect("/404");

const { seo, title } = page;
---

<Layout title={title} description={seo.metaDescription}>
  <h1 class="font-general-sans text-4xl">{title}</h1>
  <h1 class="font-google-sans  text-4xl">{title}</h1>
</Layout>
