---
import { cn } from "../lib/utils";
interface Props extends Partial<HTMLHeadingElement> {}
const { className } = Astro.props;
---

<h3 class={cn("font-general-sans text-2xl font-semibold", className)}>
  <slot />
</h3>
