---
import { cn } from "../lib/utils";
interface Props extends Partial<HTMLHeadingElement> {}
const { className } = Astro.props;
---

<h1 class={cn("font-google-sans text-6xl font-bold", className)}>
  <slot />
</h1>
