---
import { cn } from "../lib/utils";
interface Props extends Partial<HTMLParagraphElement> {}
const { className } = Astro.props;
---

<p class={cn("font-general-sans text-base", className)}>
  <slot />
</p>
