---
import { cn } from "../lib/utils";
interface Props extends Partial<HTMLDivElement> {}
const { className } = Astro.props;
---

<div
  class={cn(
    "px-6 mx-auto w-full",
    "lg-desktop:max-w-[1600px]",
    "mobile:max-w-[1440px] ",
    className
  )}
>
  <slot />
</div>
