---
interface Props {
  readonly title: string;
  readonly description: string;
}

const { description, title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <style is:global>
      @font-face {
        font-family: "GeneralSans";
        src: url("/fonts/GeneralSans-Light.otf");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "GeneralSans";
        src: url("/fonts/GeneralSans-Regular.otf");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "GeneralSans";
        src: url("/fonts/GeneralSans-Medium.otf");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "GeneralSans";
        src: url("/fonts/GeneralSans-Semibold.otf");
        font-weight: 600;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "GeneralSans";
        src: url("/fonts/GeneralSans-Bold.otf");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "GoogleSans";
        src: url("/fonts/ProductSans-Light.ttf");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "GoogleSans";
        src: url("/fonts/ProductSans-Regular.ttf");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "GoogleSans";
        src: url("/fonts/ProductSans-Medium.ttf");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "GoogleSans";
        src: url("/fonts/ProductSans-Bold.ttf");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
